@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
}
.container {
    max-width: 1p00px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0vh;
    display: flex;
    align-items: center;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    color: #cf203a;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #cf203a;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.header-txt {
    text-align: center;
    margin-bottom: 45px;
}
.header-txt h1, span, h3 {
    font-size: 100px;
    letter-spacing: 5px; 
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #cf203a;
    margin-bottom: 15px;
}
.header-txt span {
    font-size: 25px;
}
.header-txt p {
    color: #afafaf;
    padding: 0 250px;
    margin: 25px 0;
}
.btn-1 {
    display: inline-block;
    padding: 10px 25px;
    background-color: #cf203a;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 15px;
}
.btn-1:hover {
    background-color: #b4272e;
}
.header-dir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px ;
}
.dir h3 {
    font-size: 20px;
}
.dir p {
    font-size:22px ;
    color: #ffffff;
    text-transform:uppercase;
}
.welcome {
    display: flex;
    width: 100%;
    height: 100vh;
}
.welcome-1 {
    background-image: url(./img/a1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    width: 50%;
}
.welcome-2 {
    padding: 70px;
    background-color: #191919;
    width: 50%;
}
h4{
    font-size: 60px;
    color:#ffffff;
    text-transform: uppercase;
    font-family: "Bebas Newe";
    margin-bottom: 5px;
}
h2{
    font-size: 60px;
    line-height: 10px;
    color:#ffffff;
    text-transform: uppercase;
    font-family: "Bebas Newe";
    margin-bottom: 20px;
    padding: 15px;
}
p{
    font-size: 15px;
    color: #afafaf;
    margin: 5px ;
}
.b1{
    color: #cf203a;
}
.services {
    width: 100%;
    height: 100vh;
    padding: 60px;
    text-align: center;
}
.services-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    border: 1px solid #cf203a;
    width: 80px;
}
.services-txt p{
    padding: 50px 150px;
}
.services-group{
    display: flex;
    justify-content:space-between;
}
.services-1{
    background-color: #070707;
    padding: 15px 15px;
    margin: 0 20px;
    border-radius: 15px;
}
.services img {
    width: 25px;
    margin-bottom: 15px;
}
.services-1 h3{
    font-size: 25px;
    color: #ffffff;
}
.services-1 a{
    color: #cf203a;
    font-size: 16px;
}
.prices {
    display: flex;
    width: 100%;
    height: 100vh;
}
.prices-1 {
    width: 50%;
    padding: 100px 70px;
    background-color: #191919;
}
table{
    margin: 50px 0;
    width: 50%;
}
tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #afafaf;
    margin-bottom: 25px;
}
th, td {
    color: #ffffff;
    padding-bottom: 5px;
}
.prices-2{
    background-image: url(./img/a2.jpg);
    background-position: center center;
    background-size: cover;
    width: 50%;
}
.personal {
    width: 100%;
    height: 100vh;
    padding: 30px;
    text-align: center;
}
.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.personal-1 {
    text-align: center;
}
.personal-1 img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.personal-1 h3{
    font-size: 22px;
}
.personal-1 p{
    padding: 0 50px;
}
.personal-1 a{
    color: #cf203a;
}
.footer-bg{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;  
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo-1{
    margin-bottom: 25px;
}
.campo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo-text {
    padding: 20px 20px;
    background-color: #0e0e0e;
    border: 1px solid #cf203a;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}
.campo{
    margin: 5px;
    padding: 20px 15px;
    width: 300px;
    background-color: #0e0e0e;
    border: 1px solid #cf203a;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}
textarea{
    width: 400px !important;
}
.conta{
    text-transform: capitalize;
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    background-color: #000000;
    padding: 80px 0;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    width: 25%;
    padding: 0 15px;
}
.footer-links h4 {
    font-size: 20px;
    color:#ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 15px;
    text-decoration: none;
    color:#bbbbbb ;
    display: block;
    margin-bottom: 5px;
    transition: all .3s ease;
}
.footer-linkks ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
.social-link a:hover {
    background-color: #00c3ff;
}
@media(max-width:991px) {
    .menu{
        padding: 10px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 65%;
        left: 300px;
        right: 0;
        background-color: #1f1f1f;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        height: auto;
    }
    .header-content{
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        margin-bottom: 15px;
    }
    .header-txt h1{
        font-size: 90px;
    }
    .header-txt p {
        padding: 0;
        margin: 15px 0;
    }
    .header-dir{
        flex-direction: column;
    }
    .dir p{
        font-size: 18px;
    }
    .welcome{
        flex-direction: column;
        height: auto;
    }
    .welcome-1{
        display: none;
    }
    .welcome-2{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    h2{
        font-size: 70px;
        line-height: 80px;
    }
    p{
        margin: 15px 0;
    }
    .services {
        padding: 30px;
        height: auto;
    }
    .services-txt p{
        padding: 0;
    }
    .services-group{
        flex-direction: column;
        margin: 0;
    }
    .services-1{
        margin: 0 0 20px 0;
    }
    .prices{
        height: auto;
        flex-direction: column;
    }
    .prices-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    table{
        margin: 25px 0 0 0;
    }
    .prices-2{
        display: none;
    }
    .personal{
        padding: 30px;
        height: auto;
    }
    .personal-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .personal-1{
        margin-bottom: 25px;
    }
    .footer-bg{
        height: auto;
        padding: 30px;
    }
    textarea{
        width: 300px !important;
    }
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}